<div class="register-container">
  <h2 class="text-center">Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control"
        placeholder="Your username..."
      />
    </div>
    <div class="form-group mt-3">
      <label for="email">Email</label>
      <input
        type="email"
        formControlName="email"
        id="email"
        class="form-control"
        placeholder="Your email..."
      />
    </div>
    <div class="form-group mt-3">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        class="form-control"
        placeholder="Your password"
      />
    </div>
    <div class="form-group mt-3">
      <label for="confirm-password">Confirm password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        id="confirm-password"
        class="form-control"
        placeholder="Confirm password"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-4">
      Register
    </button>
    <p class="text-center mt-3">
      Already have account? <a routerLink="/login">Login</a>
    </p>
  </form>
</div>
