<div class="container-xxl mt-4 homePage">
  <!-- Trending Movies -->
  <div class="row justify-content-center">
    <div class="col-5" *ngFor="let movie of trendingMovies">
      <div
        class="card coverImages mb-4 w-100 rounded-5"
        [ngStyle]="{ 'box-shadow': '0px 10px 20px rgba(0, 0, 0, 0.8)' }"
        style="height: 400px"
      >
        <img
          src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
          class="rounded-5 card-img-top w-100 h-100 object-fit-fill"
          alt="{{ movie.title }}"
        />
      </div>
    </div>
  </div>
  <!-- Genres -->
  <div class="row my-3 justify-content-center">
    <div
      class="col-md-4 h-25 text-center"
      style="width: 180px"
      *ngFor="let genre of genres"
    >
      <div
        class="card buttonGenres mb-4 w-100 genres rounded-5 border-0 shadow"
        [ngClass]="{ active: genre.genre === selectedGenre }"
        style="height: 60px; cursor: pointer"
        (click)="loadMovies(genre.genre)"
      >
        <div class="card-body align-content-center text-white">
          <h5 class="card-title fs-5">{{ genre.genre }}</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Other Movies -->
  <div class="movie-grid mb-3">
    <ng-container *ngIf="movies.length > 0; else noMovies">
      <div
        class="movie-card"
        style="width: 250px; height: 100%"
        *ngFor="let movie of movies"
      >
        <div
          class="card-content p-0"
          style="height: 450px"
          [ngStyle]="{
            'box-shadow': movie.shadow || '0px 10px 20px rgba(0, 0, 0, 0.5)'
          }"
        >
          <img
            [src]="
              movie.poster_path
                ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path
                : movie.image
            "
            class="movie-poster"
            alt="{{ movie.title }}"
          />
          <div class="card-body text-white">
            <h5 class="movie-title">{{ movie.title }}</h5>
            <p class="movie-genre">Trending</p>
            <button
              class="details-btn"
              [routerLink]="['/movie', movie._id || 'tmdb-' + movie.id]"
            >
              View Details
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noMovies>
      <p class="text-center text-white">No trending movies available.</p>
    </ng-template>
  </div>
</div>
