<div class="movie-form">
  <h2>Create New Movie</h2>
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Title:</label>
      <input class="form-control" formControlName="title" />
    </div>

    <div class="form-group">
      <label>Description:</label>
      <textarea class="form-control" formControlName="desc"></textarea>
    </div>

    <div class="form-group">
      <label>Genre:</label>
      <input class="form-control" formControlName="genre" />
    </div>

    <div class="form-group">
      <label>Release Date:</label>
      <input class="form-control" type="date" formControlName="releaseDate" />
    </div>

    <div class="form-group">
      <label>Image Url:</label>
      <input class="form-control" type="url" formControlName="image" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!movieForm.valid">
      Create Movie
    </button>
  </form>
</div>
