/* You can add global styles to this file, and also import other style files */

html,
body {
  position: relative;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(180deg, #1a1a2e, #16213e) !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  overflow-x: hidden;
  color: #ffffff;
}

// #007BFF
