.header {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  align-items: center;
  margin: 0 auto;
  color: #e94560 !important;
}

.header h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
}
nav {
  padding: 1em;
  background: #010f1d;
  color: #fff;
  border-radius: 20px;
}
nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

.account {
  display: flex;
  align-items: center;
}

.account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.menu.show {
  display: block;
  visibility: visible;
}

.menu.hide {
  display: none;
  visibility: hidden;
}
.menu a {
  display: block;
  color: #fff;
  margin-top: 5px;
  text-decoration: none;
}

/* Стилове за логин/регистър */
.account a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}
